 
#masthead {
    min-height: 70px;
    background-color: #fff;
    color: #aaaacc;
}

#masthead h1 {
    font-size: 55px;
    line-height: 1;
}

#masthead .well {
    margin-top: 13%;
    background-color: #111155;
    border-color: #000033;
}

.icon-bar {
    background-color: #fff;
}


    body{
        margin-top:20px;
    background-color:#f2f6fc;
    color:#69707a;
    }
    .img-account-profile {
        height: 10rem;
    }
    .rounded-circle {
        border-radius: 50% !important;
    }
    .card {
        box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
    }
    .card .card-header {
        font-weight: 500;
    }
    .card-header:first-child {
        border-radius: 0.35rem 0.35rem 0 0;
    }
    .card-header {
        padding: 1rem 1.35rem;
        margin-bottom: 0;
        background-color: rgba(33, 40, 50, 0.03);
        border-bottom: 1px solid rgba(33, 40, 50, 0.125);
        font-weight: bold; text-transform:capitalize;
        font-size: 20px;
        font-family: inherit;
    
    }
    .card-header h3{
        padding:4px ;
    }
    .card-header h5{

        display: inline;float:right;font-family:inherit;
        font-weight: 600;
    }
    .card-body h6{
        display: inline;
        padding-top:14px;
        font-weight:600;
        font-size:18px;
        font-family:inherit;
        text-transform:capitalize;
        line-height: 36px;

    }
    .card-body .mb-1 span{
        font-size:18px;
        padding-top:16px;
        padding-left: -1px;
        font-family:inherit;
        text-transform:capitalize;
        line-height: 30px;
        font-weight: 600;
    }

    .card-body h5{
        font-family:inherit;
       line-height: 20px;
       text-transform:capitalize;
     }

    .card-body h5>a{
        color:#ff6f61;
        font-size:24px;
       font-weight:bold;
       line-height: 24px;

       
    }



    .form-control, .dataTable-input {
        display: block;
        width: 100%;
        padding: 0.875rem 1.125rem;
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1;
        color: #69707a;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #c5ccd6;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 0.35rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
    
    .nav-borders .nav-link.active {
        color: #03A853;
        border-bottom-color: #03A853;
    }
    .nav-borders .nav-link {
        color: #69707a;
        border-bottom-width: 0.125rem;
        border-bottom-style: solid;
        border-bottom-color: transparent;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 0;
        padding-right: 0;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .page-item .page-link {
        color: #03A853;
        border-bottom-color: #03A853;
    
    }
    .page-item{

        padding: 9px;
    font-size: 20px;
    font-weight: 600;
    }
    
    .btn-danger-soft {
        color: #000;
        background-color: #f1e0e3;
        border-color: #f1e0e3;
    }